.reset-a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
.reset-h {
  margin: 0;
  padding: 0;
}

.RobotoSlab-Light {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}
.RobotoSlab-Regular {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}
.RobotoSlab-Bold {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}
.reset-a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
.reset-h {
  margin: 0;
  padding: 0;
}

.RobotoSlab-Light {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}
.RobotoSlab-Regular {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}
.RobotoSlab-Bold {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}
.reset-a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
.reset-h {
  margin: 0;
  padding: 0;
}
.button {
  display: inline-block;
  position: relative;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  line-height: 19px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 7px 40px;
}
.button__price {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 15px;
  width: 75px;
  border-left: 1px #ccc solid;
  border-left: 1px rgba(0, 0, 0, 0.1) solid;
}
.button_yellow {
  background: #FFE26E;
  color: #000;
  border-color: #FFE26E;
  padding: 15px 105px 15px 30px;
}
.button_deepskyblue {
  border: 1px solid #19B5FE;
  border-radius: 3px;
  padding: 15px 40px;
  color: #333;
}

.RobotoSlab-Light {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}
.RobotoSlab-Regular {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}
.RobotoSlab-Bold {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}
.reset-a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
.reset-h {
  margin: 0;
  padding: 0;
}
.content {
  display: block;
  padding: 40px 0;
}

.RobotoSlab-Light {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}
.RobotoSlab-Regular {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}
.RobotoSlab-Bold {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}
.reset-a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
.reset-h {
  margin: 0;
  padding: 0;
}
.element {
  width: 100%;
  padding: 30px 0;
  text-align: center;
  background: #fff;
}
.element__avatar {
  border-radius: 50%;
}
.element__wrapper {
  padding: 0 30px;
}
.element__name {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 20px;
  color: #333333;
  line-height: 27px;
  text-align: center;
  margin: 30px 0;
}
.element__hr {
  background: #F3F3F3;
  width: 100%;
  height: 3px;
}

.RobotoSlab-Light {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}
.RobotoSlab-Regular {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}
.RobotoSlab-Bold {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}
.reset-a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
.reset-h {
  margin: 0;
  padding: 0;
}
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.flex__item {
  display: block;
}
.flex_vertical {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
.flex_middle {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.RobotoSlab-Light {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}
.RobotoSlab-Regular {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}
.RobotoSlab-Bold {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}
.reset-a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
.reset-h {
  margin: 0;
  padding: 0;
}
.graphic {
  text-align: left;
  margin: 30px 0;
}
.graphic__name {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
  line-height: 22px;
  height: 40px;
}
.graphic__value {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 14px;
  color: #6C7A89;
  line-height: 22px;
}

.RobotoSlab-Light {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}
.RobotoSlab-Regular {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}
.RobotoSlab-Bold {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}
.reset-a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
.reset-h {
  margin: 0;
  padding: 0;
}
.grid {
  float: left;
  width: 100%;
}
.grid__item {
  float: left;
}
.grid_4 .grid__item_1 {
  box-sizing: border-box;
  width: 25%;
}
.grid_4 .grid__item_2 {
  box-sizing: border-box;
  width: 50%;
}
.grid_4 .grid__item_3 {
  box-sizing: border-box;
  width: 75%;
}
.grid_4 .grid__item_4 {
  box-sizing: border-box;
  width: 100%;
}
.grid-cb {
  clear: both;
}
.grid_3 .grid__item {
  width: 31.6%;
  margin-right: 2.6%;
}
.grid_3 .grid__item:last-child {
  margin-right: 0;
}

.RobotoSlab-Light {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}
.RobotoSlab-Regular {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}
.RobotoSlab-Bold {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}
.reset-a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
.reset-h {
  margin: 0;
  padding: 0;
}
.hgroup__title {
  font-family: 'Proximanova Bold';
}
.hgroup__title_h1 {
  font-size: 48px;
  color: #fff;
  letter-spacing: 2.4px;
  line-height: 58px;
  font-weight: 700;
  margin: 10px 0;
}
.hgroup__title_h2 {
  font-size: 30px;
  color: #333;
  letter-spacing: 2.4px;
  line-height: 37px;
  text-align: center;
  font-weight: 700;
}
.hgroup__subtitle {
  margin: 10px 0;
}
.hgroup__subtitle_yellow {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 20px;
  color: #FFE26E;
  line-height: 27px;
  text-align: center;
}
.hgroup_section {
  padding-bottom: 60px;
}

.RobotoSlab-Light {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}
.RobotoSlab-Regular {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}
.RobotoSlab-Bold {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}
.reset-a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
.reset-h {
  margin: 0;
  padding: 0;
}
.logo {
  text-align: center;
}
.logo__img {
  width: 140px;
  height: 28px;
  background: url('../assets/logo.svg') no-repeat 0 0;
  border: none;
  display: block;
}

.RobotoSlab-Light {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}
.RobotoSlab-Regular {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}
.RobotoSlab-Bold {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}
.reset-a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
.reset-h {
  margin: 0;
  padding: 0;
}
.menu {
  display: block;
  width: 100%;
  color: #fff;
}
.menu__item {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  min-width: 90px;
  margin-right: 25px;
  padding: 2px 10px;
  border-radius: 3px;
  background: #c3c8cc;
  -webkit-transition: color .25s ease;
          transition: color .25s ease;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__item:hover {
  color: #000;
}
.menu_top {
  padding-bottom: 20px;
  text-align: center;
}
.menu_strong .menu__item {
  background: #abb2b8;
}
.menu_footer {
  padding-bottom: 10px;
}

.RobotoSlab-Light {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}
.RobotoSlab-Regular {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}
.RobotoSlab-Bold {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}
.reset-a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
.reset-h {
  margin: 0;
  padding: 0;
}
.no-indent {
  margin: 0;
  padding: 0;
}
.page {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1em;
}
.page * {
  box-sizing: border-box;
}
.page__body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  padding-bottom: 200px;
  font-size: 1em;
  background: url('../assets/header-bg-2.jpg') no-repeat top center;
  background-size: contain;
}
.page__footer {
  margin: 0;
  padding: 0;
  height: 200px;
  margin-top: -200px;
  padding: 40px 0 30px;
  font-size: 1em;
  background: #dadfe3;
  border-top: 3px solid #c3c8cc;
}
html {
  height: 100%;
}
.page-header {
  height: 600px;
  background: rgba(0, 45, 67, 0.4);
}
.page-header__line {
  width: 100%;
  height: 85px;
}
.page-header__title {
  text-align: center;
  width: 100%;
  margin-top: 100px;
}
.page-section_blue {
  background: #E8F7FE;
  padding: 80px 0;
}
@font-face {
  font-family: 'Proximanova Bold';
  font-style: normal;
  font-weight: 100;
  src: local('Proximanova Bold'), local('ProximaNova-Bold'), local('proximanova-bold'), url('../assets/proximanova-bold.woff') format('woff');
}

.RobotoSlab-Light {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}
.RobotoSlab-Regular {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}
.RobotoSlab-Bold {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}
.reset-a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
.reset-h {
  margin: 0;
  padding: 0;
}
.phone {
  display: inline-block;
  margin-right: 35px;
}
.phone__icon {
  width: 16px;
  height: 16px;
  background: url('../assets/phone.svg') no-repeat center center;
  display: inline-block;
  margin-right: 10px;
}
.phone__text,
.phone__text > a {
  display: inline-block;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 19px;
  text-align: left;
}

.social {
  display: inline-block;
  margin: 0 10%;
  width: 80%;
}
.social__icon {
  width: 100%;
  height: auto;
}

.RobotoSlab-Light {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}
.RobotoSlab-Regular {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}
.RobotoSlab-Bold {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}
.reset-a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
.reset-h {
  margin: 0;
  padding: 0;
}
.text {
  font: normal 1em sans-serif;
  line-height: 1.5;
}

.RobotoSlab-Light {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}
.RobotoSlab-Regular {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}
.RobotoSlab-Bold {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}
.reset-a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
.reset-h {
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 1140px;
  margin: 0 auto;
}
