@import '../_framework/var';
.flex{
  display: flex;
  &__item{
    display: block;
  }

  &_vertical{
    flex-direction: row;
  }

  &_middle{
    align-items: center;
    justify-content: space-between;
  }
}
